*{
    margin: 0;
    padding: 0;
    font-family: Chiller;

}
ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
li a{
    float: left;
    margin: 65px;
    padding: 50px;
    display: block;
    background-color: rgba(241, 147, 113, 0.8);
    text-decoration: none;
    color: rgba(15, 101, 15, 0.9);
    overflow: hidden;
    font-weight: bold;font-family: Forte;
}
h1{
    text-align: center;
    font-weight: bold;
    color: lightcoral;
}

li a:hover{
    background-color: blanchedalmond;
}
body{
    background-image: url("/assets/images/Cozy November 2021 Wallpapers.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}
.genre{



}